name: Build Kernel - Android 14
on:
  push:

jobs:
  build-kernel:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - version: "5.15"
            sub_level: 110
            os_patch_level: 2023-09
          - version: "5.15"
            sub_level: 131
            os_patch_level: 2023-11
          - version: "6.1"
            sub_level: 25
            os_patch_level: 2023-10
          - version: "6.1"
            sub_level: 43
            os_patch_level: 2023-11
          - version: "6.1"
            sub_level: 57
            os_patch_level: 2023-12

    steps:
      - name: Build-CI
        uses: sekaimoe/gki_build@main
        with:
          version: android14-${{ matrix.version }}
          version_name: android14-${{ matrix.version }}.${{ matrix.sub_level }}
          tag: android14-${{ matrix.version }}-${{ matrix.os_patch_level }}
          os_patch_level: ${{ matrix.os_patch_level }}
      
